<a href="https://colab.research.google.com/github/abreuzzzz/Py_Mackenzie/blob/main/Trilha_4/Trilha_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [13]:
bovespa = pd.read_csv('http://meusite.mackenzie.br/rogerio/TIC/bovespa.csv')

display(bovespa.shape)
display(bovespa.head(1))
display(bovespa.tail(1))
display(bovespa.Stock.value_counts())

(129, 3)

         data  Stock  value
0  2020-01-02  VALE3  13.45

           data  Stock   value
128  2020-03-09  DOLAR  4.5898

VALE3    43
PETR4    43
DOLAR    43
Name: Stock, dtype: int64

In [18]:
#bovespa = pd.pivot(bovespa,columns=['Stock'],values='value',index='data').reset_index()
display(bovespa.head())

Stock        data   DOLAR      PETR4  VALE3
0      2020-01-02  4.0163  16.270000  13.45
1      2020-01-03  4.0234  15.990000  13.29
2      2020-01-06  4.0570  16.219999  13.14
3      2020-01-07  4.0604  16.059999  13.23
4      2020-01-08  4.0662  15.700000  13.22

In [25]:
IBOV=pd.read_csv('http://meusite.mackenzie.br/rogerio/TIC/IBOV.csv')
IBOV = IBOV.rename(columns={'value':'IBOV'})

         data Stock      IBOV
0  2020-01-02  IBOV  118573.0
1  2020-01-03  IBOV  117707.0
2  2020-01-06  IBOV  116878.0
3  2020-01-07  IBOV  116662.0
4  2020-01-08  IBOV  116247.0

In [26]:
bovespa=pd.merge(bovespa,IBOV[['data','IBOV']], on='data')
bovespa.head()

         data   DOLAR      PETR4  VALE3      IBOV
0  2020-01-02  4.0163  16.270000  13.45  118573.0
1  2020-01-03  4.0234  15.990000  13.29  117707.0
2  2020-01-06  4.0570  16.219999  13.14  116878.0
3  2020-01-07  4.0604  16.059999  13.23  116662.0
4  2020-01-08  4.0662  15.700000  13.22  116247.0

In [27]:
bovespa.nlargest(5,'DOLAR')

          data   DOLAR  PETR4  VALE3      IBOV
41  2020-03-06  4.6062  10.52   9.53   97997.0
42  2020-03-09  4.5898   7.26   7.97   86067.0
40  2020-03-05  4.5834  11.74  10.12  102233.0
39  2020-03-04  4.5132  12.33  10.56  107224.0
36  2020-02-28  4.4848  12.10   9.82  104172.0